# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual Environment
venv/
env/
ENV/

# Local raw data & models
data/raw/*
data/models/*
data/processed/*
!data/processed/.gitkeep
!data/processed/*.parquet

*.csv
*.db
*.sqlite

# Streamlit secrets
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db
